<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New User Task Checklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="en-us">
	<!-- meta http-equiv="Content-Type" content="text/html; charset=windows-1252"-->
	<title>New User Task</title>
</head>

 <body background ="check2.jpg">
<form action="#" th:action="@{/NewUser}" th:object="${Newuser}" method="post">

<p align="center"><<font color="#90EE90"size="6"><b>New User Task 
Checklist</b></font></p>
<p align="center">&nbsp;</p>
<p align="center"><font color="#40E0D0"><b>Computer Name: </b> <input type="text" th:field="*{computerName}" name="computerName" id="computerName" size="20">&nbsp;&nbsp;&nbsp; 
<b>Date: </b> <input th:field="*{date}" type="text" name="date" size="20">&nbsp;<b> 
Ticket:</b><input type="text" th:field="*{ticket}" id='ticket' name="ticket" size="20"> 
<b>Tech:</b><input th:field="*{tech}" type="text" id='tech' name="tech" size="20"></p>
<p>&nbsp;</p>
<table border="1" width="100%">
	<tr>
		<td width="503"><input type="checkbox" name="C1" id="C1" th:field="*{C1}" value="ON"><font color="#90EE90" size="5"><b>Check 
		the ticket Type</b></font><blockquote>
			<p><b>Type:</b> Administration</p>
			<p><b>SubType: </b>New User</p>
			<p><b>Item:</b> New User Profile</p>
			<p><b>Template:</b> New User Check List</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</blockquote>
		</td>
		<td><input type="checkbox" name="C3" id="C3" th:field="*{C3}" value="ON"><b><span style="line-height: 107%"><font color="#90EE90" size="5">Create 
		Active Directory account</font></span></b><blockquote>
			<p class="MsoListParagraph">
			<span style="font-size:12.0pt;line-height:107%">Copy existing user 
			account to use as a template.&nbsp; </span></p>
			<span style="font-size: 12.0pt; line-height: 107%; font-family: Calibri,sans-serif">
			Copy and paste user information from new user contact form or from 
			the contact in ConnectWise to the Active Directory dialog box</span><p class="MsoListParagraph">
			C<span style="font-size:12.0pt;line-height:107%">opy email address 
			and paste into ConnectWise contact and save.</span></p>
			<p class="MsoListParagraph">
			<span style="font-size:12.0pt;line-height:107%">Double click on the 
			user just created in Active Directory and add description (title and 
			date created). Paste email address in E-mail: and save.</span></p>
			<p class="MsoListParagraph">Use Dsync to connect Websense</p>
		</blockquote>
		</td>
	</tr>
	<tr>
		<td width="503"><input type="checkbox" name="C2" id="C2" th:field="*{C2}" value="ON"><b><span style="font-size:12.0pt;line-height:107%">
		</span><font size="5" color="#90EE90"><span style="line-height: 107%">
		New Employee Form</span></font></b><blockquote>
			<p><span style="font-family: Calibri,sans-serif">D</span><span style="font-size: 12.0pt; line-height: 107%; font-family: Calibri,sans-serif">ownload 
			the New Employee Form </span>
			<p class="MsoListParagraph">
			<span style="font-size:12.0pt;line-height:107%">\netops\Cleint\realAppeal\New 
			user forms</span></p>
		</blockquote>
		</td>
		<td><input type="checkbox" name="C4" id="C4" th:field="*{C4}" value="ON"><b><span style="font-size:12.0pt;line-height:107%">
		</span><span style="line-height: 107%; font-family: Calibri,sans-serif">
		<font size="5" color="#90EE90">Create 8x8 account</font></span></b><blockquote>
			<p class="MsoListParagraphCxSpFirst" style="text-indent: -.25in"><b>
			<span style="font-size: 12.0pt; line-height: 107%">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span></b><span style="font-size:
12.0pt;line-height:107%">In 8x8 account manager, Under Phone System, Display 300 
			per page. Find unassigned extention. Edit extension. Create New User 
			Profile. Copy and paste information from New Employee Form. </span>
			</p>
			<p class="MsoListParagraphCxSpMiddle">
			<span style="font-size:12.0pt;line-height:
107%">Change extention number. Quick Find Extension. Enter new extension. Search 
			for new extension under Manage Extensions. </span></p>
			<p class="MsoListParagraphCxSpLast">
			<span style="font-size:12.0pt;line-height:
107%">Copy and paste 8x8 account information into ConnectWise ticket. </span>
			</p>
			<span style="font-size: 12.0pt; line-height: 107%; font-family: Calibri,sans-serif">
			Under Accounts, User Profiles, Search for user name and select Reset 
			Password</span></blockquote>
		</td>
	</tr>
	<tr>
		<td width="503"><input type="checkbox" name="C5" id="C5" th:field="*{C5}" value="ON"><b><span style="line-height: 107%; font-family: Calibri,sans-serif"><font size="5" color="#003399">Create 
		Office 365 Account</font></span></b><blockquote>
			<p>
			<span style="font-size: 11.0pt; line-height: 107%; font-family: Calibri,sans-serif">
			Select add user</span><p>
			<span style="font-size: 11.0pt; line-height: 107%; font-family: Calibri,sans-serif">
			Copy and paste user information off New Employee form</span><p>
			<span style="font-size: 11.0pt; line-height: 107%; font-family: Calibri,sans-serif">
			Copy and paste New Account information into the ConnectWise ticket</span><p>
			<span style="font-size: 11.0pt; line-height: 107%; font-family: Calibri,sans-serif">
			Add the user to the designated shared mailboxes and distribution 
			groups</span></blockquote>
		</td>
		<td><font color="#990033"><input type="checkbox" name="C6" value="ON"> </font>
		<b><span style="line-height: 107%"><font size="5" color="#003399">Use 
		Standard Note “Network Account Created”</font></span></b><blockquote>
			<p>
			<span style="font-size: 12.0pt; line-height: 107%; font-family: Calibri,sans-serif">
			Fill in users active directory information</span></p>
		</blockquote>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</td>
	</tr>
	
	<tr>
		<td width="503">
		<input type="checkbox" name="C7" id="C6" th:field="*{C5}" value="ON"><font color="#003399"><b><span style="line-height: 107%"><font size="5">Create&nbsp; 
		ConnectWise Contact </font></span></b></font>
		<blockquote>
			<p><span style="font-family: Calibri,sans-serif">C</span><span style="font-size: 12.0pt; line-height: 107%; font-family: Calibri,sans-serif">reate 
			a new contact with the user information</span><p class="MsoListParagraph">
			<span style="font-size:12.0pt;line-height:107%">Copy and paste the 
			new user’s information from the New User Form </span></p>
			<p class="MsoListParagraph">
			<span style="font-size: 12.0pt; line-height: 107%; font-family: Calibri,sans-serif">
			Click on connect wise portal tab and set a random password</span></p>
		</blockquote>
		<p>&nbsp;</td>
		<td>
		<input type="checkbox" name="C8" id="C7" th:field="*{C5}" value="ON"><b><span style="line-height: 107%; font-family: Calibri,sans-serif"><font size="5" color="#003399">Change 
		ticket Status to&nbsp; complete</font></span></b><blockquote>
			<p class="MsoListParagraph">
			<span style="font-size:12.0pt;line-height:107%">Close tickets if 
			client confirmed new account is working or if you don’t hear from 
			them after 48 hours. </span></p>
			<span style="font-size: 12.0pt; line-height: 107%; font-family: Calibri,sans-serif">
			Send Update using Standard Note “Network Account Created” with new 
			user information</span></blockquote>
		<p>&nbsp;</td>
	</tr>
	
</table>
	<p><input type="submit" value="Submit" name="B1"><input type="reset" value="Reset" name="B2"><input type="reset" value="Delete" name="B3"><input type="reset" value="Search" name="B4"></p>
</form>
</body>

</html>